pkgname=bettbox-bin
pkgver=1.19.4
pkgrel=1
pkgdesc="基于 Mihomo（Clash.Meta）内核的多平台代理客户端"
arch=('x86_64' 'aarch64')
url="https://github.com/appshubcc/Bettbox"
license=('GPL-3.0-or-later')
depends=(
  'gtk3'
  'libayatana-appindicator'
  'libkeybinder3'
  'libcap'
)
install=bettbox.install
options=('!strip' '!debug')
source=("bettbox.install" "restart-bettbox.hook")
source_x86_64=("https://github.com/appshubcc/Bettbox/releases/download/v\${pkgver}/Bettbox-\${pkgver}-linux-amd64.deb")
source_aarch64=("https://github.com/appshubcc/Bettbox/releases/download/v\${pkgver}/Bettbox-\${pkgver}-linux-arm64.deb")

package() {
  bsdtar -xf data.tar.zst -C "\${srcdir}"

  install -dm755 "\${pkgdir}/usr/share/Bettbox"
  cp -a "\${srcdir}/usr/share/Bettbox/"* "\${pkgdir}/usr/share/Bettbox/"

  install -dm755 "\${pkgdir}/usr/bin"
  ln -s /usr/share/Bettbox/Bettbox "\${pkgdir}/usr/bin/Bettbox"

  install -Dm644 "\${srcdir}/usr/share/applications/Bettbox.desktop" \
    "\${pkgdir}/usr/share/applications/Bettbox.desktop"

  for size in 128 256; do
    install -Dm644 "\${srcdir}/usr/share/icons/hicolor/\${size}x\${size}/apps/Bettbox.png" \
      "\${pkgdir}/usr/share/icons/hicolor/\${size}x\${size}/apps/Bettbox.png"
  done

  if [ -f "\${srcdir}/restart-bettbox.hook" ]; then
    install -Dm644 -t "\${pkgdir}/usr/share/libalpm/hooks/" "\${srcdir}/restart-bettbox.hook"
  fi
}
